<div class="container-fluid ">
  <div class="card">
    <div class="card-header">
      <h5>Gestionar Proveedores</h5>
      <p class="mb-0">Administra la información de los Proveedores</p>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Buscar por Nombre"
                 [(ngModel)]="nombre" aria-label="Buscar por nombre">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-3">
          <select class="form-select" [(ngModel)]="estado">
            <option selected value="1">Activos</option>
            <option value="2">Inactivos</option>
            <option value="">Todos</option>
          </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addproveedor">
            <i class="bi bi-plus-circle"></i>
            Nuevo Proveedor
          </button>
        </div>
      </div>

      <div class="table-responsive tamaño">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Nombre</th>
              <th scope="col">Celular</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i=index; let pro of apiProveedor|nombre:nombre|estado:estado|paginate: { itemsPerPage: 6, currentPage: page }">
              <td>{{i+1}}</td>
              <td>{{pro.nombre}}</td>
              <td>{{pro.celular}}</td>
              <td>{{pro.ciudad}}</td>
              <!--Estado-->
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" [checked]="pro.estado==1"
                    (change)="showModal($event, pro)">
                </div>
              </td>
              <!--Modificar-->
              <td>
                <button (click)="ModificarProveedor(pro)" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modproveedor">
                  <i class="bi bi-pencil"></i> Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination-wrapper">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- MODAL ADICIONAR -->
<div class="modal fade" id="addproveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ALERTA AZUL -->
        <div class="alert alert-info p-2 mb-3 d-flex align-items-center" role="alert">
          <i class="bi bi-info-circle-fill me-3 fs-3"></i>
          Estimado usuario: Los campos marcados con <span class="text-danger">*</span> son obligatorios.
        </div>
        <form class="row g-3 needs-validation" [formGroup]="proveForm" (ngSubmit)="AgregarProveedor()">
          <div class="col-md-6">
            <!--Nombre-->
            <label class="form-label">Nombre <span class="text-danger"> * </span></label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre"
              pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" onkeypress="if(!/^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]$/.test(event.key)){document.getElementById('msgNumeros').style.display='block';
         setTimeout(()=>document.getElementById('msgNumeros').style.display='none',4000);event.preventDefault();}"
              oninput="
             this.value=this.value.charAt(0).toUpperCase()+this.value.slice(1);
           if(this.value.length>15){
             document.getElementById('msgMaxLetras').style.display='block';
             setTimeout(()=>document.getElementById('msgMaxLetras').style.display='none',2000);
             this.value=this.value.slice(0,15);
           }
           if(this.value.length>0 && this.value.length<3){
             document.getElementById('msgMinLetras').style.display='block';
             setTimeout(()=>document.getElementById('msgMinLetras').style.display='none',2000);
           }
         " [ngClass]="{
         'is-valid': control['nombre'].valid && control['nombre'].value?.length>=3 && (control['nombre'].dirty||control['nombre'].touched),
         'is-invalid': control['nombre'].invalid && (control['nombre'].dirty||control['nombre'].touched)}">
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio y solo acepta letras.</div>
            <div id="msgNumeros" class="invalid-feedback" style="display:none;">No se aceptan números, solo letras.
            </div>
            <div id="msgMaxLetras" class="invalid-feedback" style="display:none;">El Nombre no puede tener más de 15
              letras.</div>
            <div id="msgMinLetras" class="invalid-feedback" style="display:none;">El Nombre debe tener al menos 3
              letras.</div>
          </div>
          <div class="col-md-6">
  <label for="correo" class="form-label">Email</label>
  <input type="email" formControlName="email" class="form-control" id="correo"
         placeholder="Ingrese email"
         [ngClass]="{
           'is-invalid': control['email'].invalid && (control['email'].dirty || control['email'].touched)
         }">

  <div class="valid-feedback">Correcto.</div>

  <!-- Mensajes de validación -->
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['email']">
    Ingrese un correo válido (ej: usuario(arroba)dominio.com).
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['pattern']">
    El formato del correo no es válido.
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['minlength']">
    El correo debe tener al menos 6 caracteres.
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['maxlength']">
    El correo no puede tener más de 50 caracteres.
  </div>
</div>
          <!-- CELULAR -->
          <div class="col-md-6">
            <label for="celular" class="form-label">Celular <span class="text-danger">* </span></label>
            <input type="text" formControlName="celular" class="form-control" placeholder="Ingrese un numero de celular"
              pattern="^[0-9]+$"
              onkeypress="if(!/^[0-9]$/.test(event.key)){document.getElementById('celularML').style.display='block';setTimeout(()=>document.getElementById('msgLetras').style.display='none',2000);event.preventDefault();}"
              oninput="
           if(this.value.length>8){
             document.getElementById('celular_max').style.display='block';
             setTimeout(()=>document.getElementById('celular_max').style.display='none',2000);
             this.value=this.value.slice(0,8);
           }
           if( this.value.length<8){
             document.getElementById('celular_min').style.display='block';
             setTimeout(()=>document.getElementById('celular_min').style.display='none',2000);
           }
         " [ngClass]="{
        'is-valid': control['celular'].valid && control['celular'].value?.length > 7 && control['celular'].value?.length <= 8
           &&(control['celular'].dirty||control['celular'].touched),
         'is-invalid': control['celular'].invalid && (control['celular'].dirty||control['celular'].touched)}">
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio y solo acepta números.</div>
            <div id="celularML" class="invalid-feedback" style="display:none;">No se aceptan letras, solo números.</div>
            <div id="celular_max" class="invalid-feedback" style="display:none;">El numero de celular no puede tener más
              de 8
              dígitos.</div>
            <div id="celular_min" class="invalid-feedback" style="display:none;">El numero de celular debe tener 8
              dígitos.
            </div>
          </div>
          <!--DIRECCION-->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="direccion" class="form-label">Direccion</label>
              <input class="form-control" formControlName="direccion" id="direccion" rows="3"
                pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" onkeypress="if(!/^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]$/.test(event.key)){document.getElementById('msgNumerosDes').style.display='block';
         setTimeout(()=>document.getElementById('msgNumerosDes').style.display='none',4000);event.preventDefault();}"
                oninput="
             this.value=this.value.charAt(0).toUpperCase()+this.value.slice(1);
           if(this.value.length>50){
             document.getElementById('msgMaxLetrasDes').style.display='block';
             setTimeout(()=>document.getElementById('msgMaxLetrasDes').style.display='none',2000);
             this.value=this.value.slice(0,50);
           }
           if(this.value.length>0 && this.value.length<6){
             document.getElementById('msgMinLetrasDes').style.display='block';
             setTimeout(()=>document.getElementById('msgMinLetrasDes').style.display='none',2000);
           }
         " [ngClass]="{
         'is-valid': control['direccion'].valid && control['direccion'].value?.length>=6 && (control['direccion'].dirty||control['direccion'].touched)
                        }">
              <div class="valid-feedback">Correcto.</div>
              <div id="msgNumerosDes" class="invalid-feedback" style="display:none;">No se aceptan
                números, solo letras. </div>
              <div id="msgMaxLetrasDes" class="invalid-feedback" style="display:none;">La direccion
                puede tener más de 50 letras.</div>
              <div id="msgMinLetrasDes" class="invalid-feedback" style="display:none;">La direccion debe
                tener al menos 6 letras.</div>
            </div>

          </div>
          <!--CIUDAD-->
          <div class="col-md-6">
            <label for="ciudad" class="form-label">Ciudad <span class="text-danger">*</span></label>
            <select class="form-select" formControlName="ciudad" id="ciudad" required [ngClass]="{
         'is-valid': control['ciudad'].valid && (control['ciudad'].dirty||control['ciudad'].touched),
         'is-invalid': control['ciudad'].invalid && (control['ciudad'].dirty||control['ciudad'].touched)}">
              <option value="Tarija" selected>Tarija</option>
              <option>La Paz</option>
              <option>Santa Cruz</option>
              <option>Potósi</option>
              <option>Sucre</option>
              <option>Oruro</option>
              <option>Pando</option>
              <option>Beni</option>
              <option>Cochabamba</option>
            </select>
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="proveForm.invalid">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- MODAL MODIFICAR -->
<div class="modal fade" id="modproveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ALERTA AZUL -->
        <div class="alert alert-info p-2 mb-3 d-flex align-items-center" role="alert">
          <i class="bi bi-info-circle-fill me-3 fs-3"></i>
          Estimado usuario: Los campos marcados con <span class="text-danger">*</span> son obligatorios.
        </div>
        <form class="row g-3 needs-validation" [formGroup]="proveForm" (ngSubmit)="guardarModificacion()">
          <div class="col-md-6">
            <!--Nombre-->
            <label class="form-label">Nombre <span class="text-danger"> * </span></label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre"
              pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" onkeypress="if(!/^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]$/.test(event.key)){document.getElementById('msgNumeros').style.display='block';
         setTimeout(()=>document.getElementById('msgNumeros').style.display='none',4000);event.preventDefault();}"
              oninput="
             this.value=this.value.charAt(0).toUpperCase()+this.value.slice(1);
           if(this.value.length>15){
             document.getElementById('msgMaxLetras').style.display='block';
             setTimeout(()=>document.getElementById('msgMaxLetras').style.display='none',2000);
             this.value=this.value.slice(0,15);
           }
           if(this.value.length>0 && this.value.length<3){
             document.getElementById('msgMinLetras').style.display='block';
             setTimeout(()=>document.getElementById('msgMinLetras').style.display='none',2000);
           }
         " [ngClass]="{
         'is-valid': control['nombre'].valid && control['nombre'].value?.length>=3 && (control['nombre'].dirty||control['nombre'].touched),
         'is-invalid': control['nombre'].invalid && (control['nombre'].dirty||control['nombre'].touched)}">
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio y solo acepta letras.</div>
            <div id="msgNumeros" class="invalid-feedback" style="display:none;">No se aceptan números, solo letras.
            </div>
            <div id="msgMaxLetras" class="invalid-feedback" style="display:none;">El Nombre no puede tener más de 15
              letras.</div>
            <div id="msgMinLetras" class="invalid-feedback" style="display:none;">El Nombre debe tener al menos 3
              letras.</div>
          </div>
          <div class="col-md-6">
  <label for="correo" class="form-label">Email</label>
  <input type="email" formControlName="email" class="form-control" id="correo"
         placeholder="Ingrese email"
         [ngClass]="{
           'is-invalid': control['email'].invalid && (control['email'].dirty || control['email'].touched)
         }">

  <div class="valid-feedback">Correcto.</div>

  <!-- Mensajes de validación -->
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['email']">
    Ingrese un correo válido (ej: usuario(arroba)dominio.com).
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['pattern']">
    El formato del correo no es válido.
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['minlength']">
    El correo debe tener al menos 6 caracteres.
  </div>
  <div class="invalid-feedback" *ngIf="control['email'].errors?.['maxlength']">
    El correo no puede tener más de 50 caracteres.
  </div>
</div>


          <!-- CELULAR -->
          <div class="col-md-6">
            <label for="celular" class="form-label">Celular <span class="text-danger">* </span></label>
            <input type="text" formControlName="celular" class="form-control" placeholder="Ingrese un numero de celular"
              pattern="^[0-9]+$"
              onkeypress="if(!/^[0-9]$/.test(event.key)){document.getElementById('celularML').style.display='block';setTimeout(()=>document.getElementById('msgLetras').style.display='none',2000);event.preventDefault();}"
              oninput="
           if(this.value.length>8){
             document.getElementById('celular_max').style.display='block';
             setTimeout(()=>document.getElementById('celular_max').style.display='none',2000);
             this.value=this.value.slice(0,8);
           }
           if( this.value.length<8){
             document.getElementById('celular_min').style.display='block';
             setTimeout(()=>document.getElementById('celular_min').style.display='none',2000);
           }
         " [ngClass]="{
        'is-valid': control['celular'].valid && control['celular'].value?.length > 7 && control['celular'].value?.length <= 8
           &&(control['celular'].dirty||control['celular'].touched),
         'is-invalid': control['celular'].invalid && (control['celular'].dirty||control['celular'].touched)}">
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio y solo acepta números.</div>
            <div id="celularML" class="invalid-feedback" style="display:none;">No se aceptan letras, solo números.</div>
            <div id="celular_max" class="invalid-feedback" style="display:none;">El numero de celular no puede tener más
              de 8
              dígitos.</div>
            <div id="celular_min" class="invalid-feedback" style="display:none;">El numero de celular debe tener 8
              dígitos.
            </div>
          </div>
          <!--DIRECCION-->
          <div class="col-md-6">
            <div class="mb-3">
              <label for="direccion" class="form-label">Direccion</label>
              <input class="form-control" formControlName="direccion" id="direccion" rows="3"
                pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" onkeypress="if(!/^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]$/.test(event.key)){document.getElementById('msgNumerosDes').style.display='block';
         setTimeout(()=>document.getElementById('msgNumerosDes').style.display='none',4000);event.preventDefault();}"
                oninput="
             this.value=this.value.charAt(0).toUpperCase()+this.value.slice(1);
           if(this.value.length>50){
             document.getElementById('msgMaxLetrasDes').style.display='block';
             setTimeout(()=>document.getElementById('msgMaxLetrasDes').style.display='none',2000);
             this.value=this.value.slice(0,50);
           }
           if(this.value.length>0 && this.value.length<6){
             document.getElementById('msgMinLetrasDes').style.display='block';
             setTimeout(()=>document.getElementById('msgMinLetrasDes').style.display='none',2000);
           }
         " [ngClass]="{
         'is-valid': control['direccion'].valid && control['direccion'].value?.length>=6 && (control['direccion'].dirty||control['direccion'].touched)
                        }">
              <div class="valid-feedback">Correcto.</div>
              <div id="msgNumerosDes" class="invalid-feedback" style="display:none;">No se aceptan
                números, solo letras. </div>
              <div id="msgMaxLetrasDes" class="invalid-feedback" style="display:none;">La direccion
                puede tener más de 50 letras.</div>
              <div id="msgMinLetrasDes" class="invalid-feedback" style="display:none;">La direccion debe
                tener al menos 6 letras.</div>
            </div>

          </div>
          <!--CIUDAD-->
          <div class="col-md-6">
            <label for="ciudad" class="form-label">Ciudad <span class="text-danger">*</span></label>
            <select class="form-select" formControlName="ciudad" id="ciudad" required [ngClass]="{
         'is-valid': control['ciudad'].valid && (control['ciudad'].dirty||control['ciudad'].touched),
         'is-invalid': control['ciudad'].invalid && (control['ciudad'].dirty||control['ciudad'].touched)}">
              <option value="Tarija">Tarija</option>
              <option>La Paz</option>
              <option>Santa Cruz</option>
              <option>Potósi</option>
              <option>Sucre</option>
              <option>Oruro</option>
              <option>Pando</option>
              <option>Beni</option>
              <option>Cochabamba</option>
            </select>
            <div class="valid-feedback">Correcto.</div>
            <div class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="proveForm.invalid">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- Modal único -->
<div class="modal fade" id="estadoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5">Confirmar cambio de estado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-center align-items-center text-center">
        <i class="bi bi-exclamation-circle fs-1 mb-2"></i>
        <span>
          ¿Estás seguro de <span class="fw-bold">{{ estadoTemporal == 1 ? 'activar' : 'desactivar' }}</span> al
          proveedor?
        </span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarCambio()" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarCambio()"
          data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de éxito -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toastExito" class="toast align-items-center  toast-custom border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        Los cambios fueron guardados exitosamente.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>
