<div class="sidebar">
  <!-- Inicio -->
  <a routerLink="/home/principal" routerLinkActive="active-link">
    <i class="bi bi-house-door-fill fs-5"></i>
    <span>Inicio</span>
  </a>

  <!-- Gestionar Personal -->
  <div [ngClass]="{'active': isMenuActive('personal')}" *ngIf="tienePermiso(1) || tienePermiso(2) || tienePermiso(3)">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'personal')">
      <i class="bi bi-person-circle fs-5"></i>
      <span>Gestionar Personal</span>
    </a>
    <div class="submenu">
      <a *ngIf="tienePermiso(1)" routerLink="/home/empleados" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Empleados</span>
      </a>
      <a *ngIf="tienePermiso(2)" routerLink="/home/usuarios" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Usuarios</span>
      </a>
      <a *ngIf="tienePermiso(3)" routerLink="/home/roles" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Roles</span>
      </a>
    </div>
  </div>

  <!-- Clientes -->
  <a *ngIf="tienePermiso(4)" routerLink="/home/clientes" routerLinkActive="active-link">
    <i class="bi bi-people-fill fs-5"></i>
    <span>Clientes</span>
  </a>

  <!-- Productos -->
  <div [ngClass]="{'active': isMenuActive('productos')}" *ngIf="tienePermiso(5) || tienePermiso(6) || tienePermiso(7) || tienePermiso(8) || tienePermiso(9)">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'productos')">
      <i class="bi bi-box-seam fs-5"></i>
      <span>Productos</span>
    </a>
    <div class="submenu">
      <a *ngIf="tienePermiso(5)" routerLink="/home/dashboard" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Dashboard</span>
      </a>
      <a *ngIf="tienePermiso(6)" routerLink="/home/productos" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Listar Productos</span>
      </a>
      <a *ngIf="tienePermiso(7)" routerLink="/home/categoria" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Categoría</span>
      </a>
      <a *ngIf="tienePermiso(8)" routerLink="/home/marcas" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Marcas</span>
      </a>
      <a *ngIf="tienePermiso(9)" routerLink="/home/unidades" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Unidades</span>
      </a>
    </div>
  </div>

  <!-- Compras -->
  <div [ngClass]="{'active': isMenuActive('compras')}" *ngIf="tienePermiso(10) || tienePermiso(11)">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'compras')">
      <i class="bi bi-cart4 fs-5"></i>
      <span>Compras</span>
    </a>
    <div class="submenu">
      <a *ngIf="tienePermiso(10)" routerLink="/home/compras" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Listar Compras</span>
      </a>
      <a *ngIf="tienePermiso(11)" routerLink="/home/proveedores" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Proveedores</span>
      </a>
    </div>
  </div>

  <!-- Ventas -->
  <a *ngIf="tienePermiso(12)" routerLink="/home/ventas" routerLinkActive="active-link">
    <i class="bi bi-cash-coin fs-5"></i>
    <span>Ventas</span>
  </a>

  <!-- Pedidos -->
  <!-- <a routerLink="/home/pedidos" routerLinkActive="active-link">
    <i class="bi bi-box2-fill fs-5"></i>
    <span>Pedidos</span>
  </a> -->

  <!-- Movimientos -->
  <a *ngIf="tienePermiso(13)" routerLink="/home/kardex" routerLinkActive="active-link">
    <i class="bi bi-boxes fs-5"></i>
    <span>Movimientos</span>
  </a>

  <!-- Reportes -->
  <a *ngIf="tienePermiso(14)" routerLink="/home/reportes" routerLinkActive="active-link">
    <i class="bi bi-clipboard-data-fill fs-5"></i>
    <span>Reportes</span>
  </a>

  <!-- Gastos -->
  <a *ngIf="tienePermiso(15)" routerLink="/home/gastos" routerLinkActive="active-link">
    <i class="bi bi-wallet2 fs-5"></i>
    <span>Gastos</span>
  </a>
</div>
