<div class="sidebar">
  <!-- Inicio -->
  <a routerLink="/home/principal" routerLinkActive="active-link">
    <i class="bi bi-house-door-fill fs-5"></i>
    <span>Inicio</span>
  </a>

  <!-- Gestionar Personal -->
  <div [ngClass]="{'active': isMenuActive('personal')}" *ngIf="tienePermiso(1)">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'personal')">
      <i class="bi bi-person-circle fs-5"></i>
      <span>Gestionar Personal</span>
    </a>
    <div class="submenu">
      <a routerLink="/home/empleados" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Empleados</span>
      </a>
      <a routerLink="/home/usuarios" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Usuarios</span>
      </a>
      <a routerLink="/home/roles" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Roles</span>
      </a>
    </div>
  </div>

  <!-- Clientes -->
  <a routerLink="/home/clientes" routerLinkActive="active-link">
    <i class="bi bi-people-fill fs-5"></i>
    <span>Clientes</span>
  </a>

  <!-- Productos -->
  <div [ngClass]="{'active': isMenuActive('productos')}">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'productos')">
      <i class="bi bi-box-seam fs-5"></i>
      <span>Productos</span>
    </a>
    <div class="submenu">
      <a routerLink="/home/dashboard" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Dashboard</span>
      </a>
      <a routerLink="/home/productos" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Listar Productos</span>
      </a>
      <a routerLink="/home/categoria" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Categoría</span>
      </a>
      <a routerLink="/home/marcas" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Marcas</span>
      </a>
      <a routerLink="/home/unidades" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Unidades</span>
      </a>
    </div>
  </div>

  <!-- Compras -->
  <div [ngClass]="{'active': isMenuActive('compras')}">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'compras')">
      <i class="bi bi-cart4 fs-5"></i>
      <span>Compras</span>
    </a>
    <div class="submenu">
      <a routerLink="/home/compras" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Listar Compras</span>
      </a>
      <a routerLink="/home/proveedores" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Proveedores</span>
      </a>
    </div>
  </div>

  <!-- Ventas -->
  <a routerLink="/home/ventas" routerLinkActive="active-link">
    <i class="bi bi-cash-coin fs-5"></i>
    <span>Ventas</span>
  </a>

  <!-- Pedidos -->
  <!-- <a routerLink="/home/pedidos" routerLinkActive="active-link">
    <i class="bi bi-box2-fill fs-5"></i>
    <span>Pedidos</span>
  </a> -->

  <!-- Inventario -->
  <div [ngClass]="{'active': isMenuActive('inventario')}">
    <a class="has-submenu" (click)="toggleSubmenu($event, 'inventario')">
      <i class="bi bi-boxes fs-5"></i>
      <span>Inventario</span>
    </a>
    <div class="submenu">
      <a routerLink="/home/inventario" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Consultas de Stock</span>
      </a>
      <a routerLink="/home/kardex" routerLinkActive="active-link">
        <i class="bi bi-arrow-right-circle"></i>
        <span>Resumen de Movimientos</span>
      </a>
    </div>
  </div>

  <!-- Reportes -->
  <a routerLink="/home/reportes" routerLinkActive="active-link">
    <i class="bi bi-clipboard-data-fill fs-5"></i>
    <span>Reportes</span>
  </a>

  <!-- Gastos -->
  <a routerLink="/home/gastos" routerLinkActive="active-link">
    <i class="bi bi-wallet2 fs-5"></i>
    <span>Gastos</span>
  </a>
</div>
