<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Botón Hamburguesa para móviles -->
    <button class="btn-menu-toggle" type="button" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <!-- Logo e Imagen -->
    <div class="logo-container">
      <img src="assets/logo3.jpeg" alt="Logo Repuestos y Autoaccesorios Pinedo" class="logo-image">
      <h1 class="logo-text text-tittle">REPUESTOS Y AUTOACCESORIOS PINEDO</h1>
    </div>

    <!-- Título -->
    <!-- <a class="navbar-brand titulo" href="#">Repuestos y Autoaccesorios</a> -->

    <!-- Dropdown de roles -->
    <div class="dropdown user-menu">
      <a class="btn btn-role dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-person-circle me-2"></i>
        {{nombreRol}}
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li *ngFor="let rol of roles">
          <a class="dropdown-item" (click)="cambiarRol(rol)">
            <i class="bi bi-shield-check me-2"></i>
            {{rol.nombre}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
