<!--<div class="contenedor">
  <div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Datos del Negocio</h5>
            <p class="mb-0">Administra la información del negocio</p>
        </div>
        <div class="card-body">
            
          <div class="container">
            <fieldset class="conta">
                
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Nombre Dueño</label>
                      <input type="text" class="form-control" id="inputEmail4" value="Edgar Pinedo Janco" disabled>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">NIT</label>
                      <input type="text" class="form-control" id="inputPassword4" value="184786023" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Actividad Economica</label>
                        <input type="text" class="form-control" id="inputEmail4" value="Venta de Repuestos y Aaccesorios de Auto" disabled>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputPassword4" value="RepuestosAccesoriosAutoPinedo@gmail.com" disabled>
                      </div>
                   
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">telefono</label>
                        <input type="number" class="form-control" id="inputEmail4" value="73233423" disabled>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="inputPassword4" value="La torre Petrolera/Aven. Circunvalacion" disabled>
                      </div>
                      <div class="col-md-4">
                        <label for="inputState" class="form-label">Ciudad</label>
                        <select id="inputState" class="form-select" disabled>
                          <option selected>Tarija</option>
                        </select>
                      </div>
                    
                  </form>
            </fieldset>
        </div>        
        </div>
    </div>
  </div>
</div>-->
    <div class="main-content">
        <!-- Content Area -->
        <div class="content-area">
            <!-- Stats Cards Row 1 -->
            <div class="row">
                 <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-green  hover-zoom">
                        <div>
                            <h3>Bs. 0.00</h3>
                            <p>EN VENTAS DEL DÍA</p>
                        </div>
                        <div class="icon">
                             <i class="bi bi-cart-check fs-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-red hover-zoom">
                        <div>
                            <h3>Bs. 0</h3>
                            <p>COMPRAS DEL MES</p>
                        </div>
                        <div class="icon">
                             <i class="bi bi-bag-fill fs-1"></i>
                        </div>
                    </div>
                </div>
             <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-blue-gray hover-zoom">
                        <div>
                            <h3>{{apiProductos.length}}</h3>
                            <p>PRODUCTOS EN STOCK</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-box-seam fs-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-deep-purple hover-zoom">
                        <div>
                            <h3>9</h3>
                            <p>PEDIDOS PENDIENTES</p>
                        </div>
                        <div class="icon">
                             <i class="fas fa-calendar-alt fs-1"></i>
                        </div>
                    </div>
            </div>
            <!-- Stats Cards Row 2 -->
            <div class="row">
                 </div>
                    <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-cyan hover-zoom">
                        <div>
                            <h3>{{apiCliente.length}}</h3>
                            <p>CLIENTES REGISTRADOS</p>
                        </div>
                          <div class="icon">
                             <i class="bi bi-people fs-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-teal hover-zoom">
                        <div>
                            <h3>{{apiProveedores.length}}</h3>
                            <p>PROVEEDORES</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-truck fs-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-lime hover-zoom">
                        <div>
                            <h3>{{apiMarcas.length}}</h3>
                            <p>MARCAS</p>
                        </div>
                        <div class="icon">
                            <i class="fab fa-creative-commons"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-orange hover-zoom">
                        <div>
                            <h3>{{apiCategorias.length}}</h3>
                            <p>CATEGORIAS</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Stats Cards Row 3 --
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-coral">
                        <div>
                            <h3>58.00</h3>
                            <p>PEDIDOS </p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-light-blue">
                        <div>
                            <h3>0.00</h3>
                            <p>VENCERAN EN 30 DIAS</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-pink">
                        <div>
                            <h3>39.00</h3>
                            <p>CLIENTES</p>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stats-card bg-deep-purple">
                        <div>
                            <h3>19.00</h3>
                            <p>CREDITOS PENDIENTES</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-credit-card"></i>
                        </div>
                    </div>
                </div>-->
            </div>
            <!-- Table -->
            <div class="table-container">
                <h5 class="mb-3">ÚLTIMOS PRODUCTOS</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Barra/Interno</th>
                                <th>Producto</th>
                                <th>Marca</th>
                                <th>Presentación</th>
                                <th>S.Min.</th>
                                <th>Stock</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PR00000084</td>
                                <td>GALAXY S24 ULTRA 5G 256GB TITANIUM BLACK</td>
                                <td>SAMSUNG</td>
                                <td>UNIDAD</td>
                                <td>10.00</td>
                                <td>108.96</td>
                                <td>3980.00</td>
                            </tr>
                            <tr>
                                <td>PR00000083</td>
                                <td>SAMSUNG: GALAXY A56 5G 256GB BLACK</td>
                                <td>SAMSUNG</td>
                                <td>UNIDAD</td>
                                <td>10.00</td>
                                <td>25.00</td>
                                <td>1890.00</td>
                            </tr>
                            <tr>
                                <td>PR00000082</td>
                                <td>AASAS</td>
                                <td>BALDWIND</td>
                                <td>TALLA</td>
                                <td>0.00</td>
                                <td><span class="badge-minimal">EN MÍNIMO</span></td>
                                <td>0.01</td>
                            </tr>
                            <tr>
                                <td>PR00000081</td>
                                <td>INFINIX</td>
                                <td>LG</td>
                                <td>TALLA</td>
                                <td>2.00</td>
                                <td><span class="badge-warning">POR AGOTARSE</span></td>
                                <td>120.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

   
