<footer >
    <div class="row">
      <div class="col-2 ">
        Conectado
      </div>
      <div class="col-8">
        Derechos de autor Graciela Pinedo
      </div>
      <div class="col-2 salir">
        <i class="bi bi-box-arrow-in-left icon"></i>
        <span routerLink="/login">Cerrar Sesion</span>
      </div>
    </div>
</footer>

<!--</footer>
 <div class="estado">
      Conectado
    </div>
    <div>
      Derechos de autor Graciela Pinedo
    </div>
    <div class="salir">
      <i class="bi bi-box-arrow-in-left icon"></i>
      <span routerLink="/login">Cerrar Sesion</span>
    </div>
  </div>
<div>-->
